@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital,wght@1,600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: #393d41;
    margin:0;
    width: auto;
    line-height: 1.65;
    background-color: black
}
header {
    text-align: center;
     margin: 0;
     
       };
       header img {
        box-sizing: border-box;
       }
       header p {
        margin-block: 0;
       }
       main{
        margin-inline:auto;
        text-align: center;
        background-image: url(./../images/banner.jpg);
        border: #dee1e3;
        margin-top: 0;
        box-shadow: 1px;
        
           }
       hr {
        display: none;

       }
       main h1 {
        color: #25a2c3;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5;
       }
       
       .bott-1 button {
        background-color: #f04c2f;
        border-radius: 4px;
        border: none;
        text-align: center;
        width: 100px;
        height: 45px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        
       }
       .spieg-1 {
        background-color: white;
        border: #dee1e3;
        margin-bottom: 0;
        
       }
       .spieg-1 h2 {
        color: #25a2c3;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5;
       }
      .spieg-1 img {
        border-radius: 50%;
      }
      .spieg-1 p {
        margin-bottom: 0;
      }
      .art1 {
        background-color: #e22d0e;
        border: #dee1e3;
        padding-bottom: 3rem;
      }
      .art1 h2 {
        color:white;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5;
        box-sizing: border-box;
        padding-top: 2em;
        margin-top: 0
        ;
      }
      article {
        background-color: white;
        border: #dee1e3;
      } 
      article img {
        box-sizing: border-box;
        padding-top: 5rem;
        width: 450px;
        align-items: top;
      }
      .art1 p{
        color: white;
      }
      article h2 {
        color: #25a2c3;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5;
      }
    .immagine1 {
        width: 450px;
        margin-inline: auto;
        border: solid;
         border-top: none;
         border-left: none;
         border-right:  none;
    }
    .immagine2 {
        width: 450px;
        margin-inline: auto;
        border: solid;
         border-top: none;
         margin-top: 3em; 
         border-left: none;
         border-right:  none;
    }
    .immagine3 {
        width: 450px;
        margin-inline: auto;
        margin-bottom: 3em;
        margin-bottom: 0;
     }
     .immagine3 p {
        margin-bottom: 0;
        padding-bottom: 3em;
     }
    footer {
        background-color: #25a2c3;
        border: #dee1e3;
        padding-top: 1.6em;
        color: white;

    }
    footer a {
        color: white;
        font-size: bold;
        font-family: 'Open Sans', sans-serif;
    }
      footer h2 {
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5;

      }
